.contato {
  background-color: var(--cor-branco);
  box-sizing: border-box;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.contato__titulo,
.contato__texto {
  background: var(--gradiente-azul);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contato__titulo {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.contato__texto {
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.contato__email__border {
  background: var(--gradiente-azul);
  border-radius: 1.5rem;
  display: flex;
  height: fit-content;
  padding: 0.063rem;
  place-items: center;
  width: 100%;
}

.contato__email {
  width: 100%;
  background-color: var(--cor-branco);
  border: none;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.contato__email::placeholder {
  font-family: var(--fonte-principal);
  opacity: 1;
  color: var(--cor-azul);
  background: url(../../img/Mail.svg);
  background-repeat: no-repeat;
  background-position: 1.5rem center;
}

.contato__email:placeholder-shown {
  padding-left: 3.625rem;
}

@media screen and (min-width: 1024px) {
  .contato {
    display: grid;
    row-gap: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 3.375rem;
    padding-left: 9.375rem;
    padding-right: 9.375rem;
    padding-top: 1.875rem;
  }

  .contato__titulo,
  .contato__texto {
    margin: 0;
  }

  .contato__titulo {
    font-size: 1.5rem;
    grid-row: span 1;
    grid-column: span 1;
  }

  .contato__texto {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .contato__email__border {
    align-self: center;
    grid-row: span 2;
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 1728) {}
