.receita__botao {
	color: var(--color-tx-bt-receita);
	background-color: var(--color-bg-bt-receita);
	border: none;
	border-radius: 5px;
	padding: 1rem;
    transition: all 0.2s ease-in-out;
}

.receita__botao:hover {
    background-color: var(--color-bg-bt-hv-receita);
    cursor: pointer;
}