.topics {
  background: var(--gradiente-azul);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

.topics__titulo {
  color: var(--cor-branco);
  font-weight: 300;
  margin-bottom: 2rem;
}

.topics__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.topics__itens {
  background-color: var(--cor-laranja);
}

.topics__link {
  display: inline-block;
  color: var(--cor-branco);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .topics {
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
  }

  .topics__lista {
    gap: 1.5rem;
  }

  .topics__titulo {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .topics__link {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 1728) {}
