.banner__titulo {
	color: var(--color-bn-title);
	font-family: var(--pacifico);
	left: 50%;
	position: absolute;
	text-shadow: 0 4px 4px var(--color-bn-title-shadow);
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

@media screen and (min-width: 0) {
	.banner__titulo {
		font-size: 3rem;
	}
}

@media screen and (min-width: 768px) {
	.banner__titulo {
		font-size: 5.0625rem;
	}
}