* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

label {
  font-size: 2rem;
}

.dados-arquivo {
  font-size: 1.15rem;
  margin: 1rem 0;
  min-width: 20rem;
  max-width: 100%;
}

.dados-arquivo::placeholder {
  text-align: center;
}

button {
  font-size: 2rem;
}
