@import url(cabecalho/index.css);
@import url(banner/index.css);
@import url(carrossel/index.css);
@import url(carrossel/card/index.css);
@import url(topics/index.css);
@import url(contato/index.css);
@import url(footer/index.css);

:root {
  --cor-azul: #002f52;
  --cor-branco: #ffffff;
  --cor-cinza: #ebecee;
  --cor-laranja: #eb9b00;
  --fonte-principal: 'Poppins', sans-serif;
  --gradiente-azul: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
}

body {
  background-color: var(--cor-cinza);
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 400;
}
