.container {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}
form {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: 80vw;
}

.form-group {
	align-items: flex-start;
	display: flex;
	flex-flow: column wrap;
	height: fit-content;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 100%;
}

.form-group:last-child {
	align-items: center;
	flex-flow: column wrap;
	width: 90%;
}

label {
	font-size: 2rem;
}

.form-control {
	border-radius: 5px;
	border: solid 1px black;
	font-size: 1.5rem;
	height: 2rem;
	width: 100%;
}

.btn {
	background: #67b6ff;
	border-radius: 5px;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	margin: 1rem;
	padding: 0.5rem;
	text-align: center;
	width: fit-content;
	transition: all 0.5s 0.2s ease-in;
}

.btn-primary:hover,
.btn-danger:hover {
	background: #0084ff;
}

/* responsive */

@media screen and (min-width: 765px) {
	form {
		width: 60vw;
	}

	.form-group:last-child {
		flex-flow: row wrap;
	}
}
